<header class="mb-auto">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="float-md-start mb-0">
      <a href="/" class="btn fs-2 text-white fw-bold">C4a.dev</a>
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
     
      <a class="fw-bold text-decoration-none btn <%= currentPage === "login"  ? "btn-light" : null %>" href="/login">Log in</a>
      <a class="fw-bold text-decoration-none btn <%= currentPage === "signup"  ? "btn-light" : null %>" href="/signup">Sign up</a>
    </nav>
  </div>
</header>
